/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
padding: 5em;
font-family: 'Cormorant', serif;
font-size: x-large;
}
#marioFineFoods {
  text-align: center;
  text-decoration: underline;
  padding-bottom: .5em;
}
#bob {
  height: 300;
  border: 10px solid black;
  background-color: black;
}
input[type="text"], input[type="password"] {
  text-align: right;
}
ul {
  list-style: none;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
  }
}
#signInHeader, #signUpHeader {
  display: flex;
  padding-top: 50%;
  padding-left: 25%
}
.signForm {
  padding-left: 25%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  input[type="submit"] {
    width: 90%;
  }
}
#reviewText {
  word-wrap: break-word;
  padding: 2em;
}
.productPic, .reviewPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid black;
  margin: 1em;
}
#authorCredit {
  margin-left: 50%;
  padding: .25em;
}
#landing, #signUp, #signIn {
  background: image-url('deli');
  background-size: cover;
}
#reviewShow {
  background: image-url('bread.jpg');
  background-size: cover;
}
#productShow{
  background: image-url('produce.jpg');
  background-size: cover;
}
#productsPage{
  background: image-url('store_shelf.jpg');
  background-size: cover;
}
#editProduct {
  background: image-url('salami.jpg');
  background-size: cover;
}
#newReviewPage {
  background: image-url('cheese.jpg');
  background-size: cover;
}
#productLink, #homeLink, .linkBack {
  a {
    text-decoration: underline;
    color: black;
    }
  text-align: center;
  a:hover {
    color:rgb(141, 28, 28)
  }
}
#productsHeader {
  background-color: rgba(255, 235, 205, 0.836);
  color: black;
  border: 20px double black;
  padding: .25em;
  text-align: center;
  font-size: 64px;
  margin-bottom: .25em;
}
.backbox {
  background-color: rgba(255, 235, 205, 0.836);
  border: 20px double black;
  padding: 1em;
}
.productPage {
  text-align: center;
  padding: 1em;
}
.productImageFrame {
  padding: 1em;
}
#addNewProduct {
  background-color: rgba(255, 235, 205, 0.836);
  border: 3px solid black;
  background-size: cover;
  height: 8em;
  text-align: center;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
}
.productCard:hover {
  filter: grayscale(70%);
}
.productCard {
  background: image-url('store_shelf.jpg');
  border: 3px solid rgb(0, 0, 0);
  background-size: cover;
  background-color: black;
  height: 8em;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
  filter: grayscale(0%);
}
.gridText {
  a {
  background-color: black;
  color: bisque;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%
  }
}
.newProductText {
  color: black;
  margin-top: 30%;
  margin-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content:center;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    }
}
#homeLink {
  padding-top: 1em;
  a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  }
  a:hover {
    color:rgb(141, 28, 28)
  }
}
#newProduct {
  background: image-url('deli2.jpg');
  background-size: cover;
}
.formLabel {
  display: flex;
  flex-direction: row;
}
#newProductSubmit {
  display: flex;
  flex-direction: row-reverse;
}
#newProductHeader {
  background-color: rgba(255, 235, 205, 0.836);
  border: 5px double black;
  text-align: center;
}
.form-control {
  border:black 1px solid;
}
.col-4 {
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
  h4 {
    margin-left: 10%;
  }
  a {
    text-decoration: underline;
    color: black;
  }
}
.pagination {
  display: block;
  text-align:center;
  padding-top: 2em;
  a {
    color: black;
  }
}

a:hover {
  color:rgb(141, 28, 28)
}
#userBar {
  a {
    color: black;
  }
  a:hover {
    color:rgb(141, 28, 28)
  }
  background-color: rgba(255, 235, 205, 0.836);
  border: 20px double black;
  margin: auto;
  padding-left: 1em;
  text-align: center;
}
.alert {
  background-color: rgba(255, 235, 205, 0.836);
}