/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
padding: 5em;
font-family: 'Cormorant', serif;
font-size: x-large;
}
#marioFineFoods {
  text-align: center;
  text-decoration: underline;
  padding-bottom: .5em;
}
#bob {
  height: 400;
  border: 10px solid black;
}
ul {
  list-style: none;
}
#reviewText {
  word-wrap: break-word;
  padding: 1em;
}
.productPic {
  margin-left: 20%;
  width: 10em;
  border: 3px solid black;
}
#authorCredit {
  margin-left: 60%;
}
#landing {
  background: image-url('deli');
  background-size: cover;
}
#reviewShow {
  background: image-url('bread.jpg');
  background-size: cover;
}
#productShow{
  background: image-url('store_shelf.jpg');
  background-size: cover;
}
#productsPage{
  background: image-url('store_shelf.jpg');
  background-size: cover;
}
#productLink, #homeLink {
  text-align: center;
}
#productsHeader {
  background-color: rgba(255, 235, 205, 0.836);
  border: 20px double black;
  padding: .25em;
  text-align: center;
  font-size: 64px;
  margin-bottom: .25em;
}
.backbox {
  background-color: rgba(255, 235, 205, 0.836);
  border: 20px double black;
  padding: 2em;
  margin-top: 2em;
}
.col-6 {
  text-align: right;
  margin-right: 5%;
}
#addNewProduct {
  background-color: rgba(255, 235, 205, 0.836);
  border: 3px solid rgb(0, 0, 0);
  background-size: cover;
  height: 8em;
  text-align: center;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
}
.productCard {
  background-color: rgba(255, 235, 205, 0.836);
  background: image-url('bob.jpg');
  border: 3px solid rgb(0, 0, 0);
  background-size: cover;
  height: 8em;
  text-align: center;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
  color:rgba(255, 235, 205, 0);
  text-decoration: none;
}
.col-3:hover{
  a{
  display: block;
  color:rgba(10, 9, 7, 0.836);
  font-size: 36px;
  }
}
.gridText {
  margin-top:40%;
  margin-bottom: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
  a {
    color:rgba(255, 235, 205, 0);
    text-decoration: none;
  }
}
.newProductText {
  color: black;
  margin-top:30%;
  margin-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content:center;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    }
}
#homeLink {
  a {
  text-decoration: none;
  color: black;
  }
}